/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3109504 */
  src: url('//at.alicdn.com/t/c/font_3109504_qfe8nfscnpp.woff2?t=1666170217301') format('woff2'),
       url('//at.alicdn.com/t/c/font_3109504_qfe8nfscnpp.woff?t=1666170217301') format('woff'),
       url('//at.alicdn.com/t/c/font_3109504_qfe8nfscnpp.ttf?t=1666170217301') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-weixiaokaixingaoxing-03:before {
  content: "\e7f1";
}

.icon-zanwushuju:before {
  content: "\e61a";
}
.icon-yuyinshi:before {
  content: "\e8a0";
}

.icon-jieshao:before {
  content: "\e667";
}

.icon-yinsi:before {
  content: "\e98b";
}

.icon-label:before {
  content: "\e61b";
}

.icon-shanchu1:before {
  content: "\e718";
}

.icon-yuyin:before {
  content: "\e687";
}

.icon-saying:before {
  content: "\e62f";
}

.icon-long:before {
  content: "\f3f7";
}

.icon-xiaolaoshu:before {
  content: "\e6ae";
}

.icon-xiaoniuniu:before {
  content: "\e6b1";
}

.icon-xiaolaohu:before {
  content: "\e6ba";
}

.icon-xiaotuzi:before {
  content: "\e6bb";
}

.icon-xiaosheshe:before {
  content: "\e6bc";
}

.icon-xiaoma:before {
  content: "\e6bd";
}

.icon-xiaoyangyang:before {
  content: "\e6be";
}

.icon-xiaohouzi:before {
  content: "\e6bf";
}

.icon-xiaoji:before {
  content: "\e6c0";
}

.icon-xiaogouzi:before {
  content: "\e6c1";
}

.icon-xiaozhuzhu:before {
  content: "\e6c2";
}

.icon-shoucang2:before {
  content: "\e8c6";
}

.icon-gerenzhongxin:before {
  content: "\e603";
}

.icon-tubiaolunkuo-:before {
  content: "\e619";
}

.icon-shezhi1:before {
  content: "\e610";
}

.icon-tiaochariji:before {
  content: "\e678";
}

.icon-icon_xinyong_xianxing_jijin-107:before {
  content: "\e643";
}

.icon-qiandaodaka:before {
  content: "\e683";
}

.icon-xie:before {
  content: "\e62a";
}

.icon-shuzi0:before {
  content: "\e625";
}

.icon-shuzi2:before {
  content: "\e627";
}

.icon-shuzi6:before {
  content: "\e62b";
}

.icon-shuzi8:before {
  content: "\e62d";
}

.icon-shuzi9:before {
  content: "\e604";
}

.icon-shuzi7:before {
  content: "\e605";
}

.icon-shuzi3:before {
  content: "\e606";
}

.icon-shuzi1:before {
  content: "\e60a";
}

.icon-shuzi4:before {
  content: "\e60e";
}

.icon-shuzi5:before {
  content: "\e60f";
}

.icon-huidaodingbu:before {
  content: "\e74a";
}

.icon-shezhi:before {
  content: "\e660";
}

.icon-fenxiang:before {
  content: "\e60d";
}

.icon-shoucang:before {
  content: "\e61c";
}

.icon-shuaxin1:before {
  content: "\e63a";
}

.icon-weixin:before {
  content: "\e6b3";
}

.icon-xiangji:before {
  content: "\e64e";
}

.icon-chahao:before {
  content: "\e632";
}

.icon-weizhi-tianchong:before {
  content: "\e653";
}

.icon-yonghuguanli1:before {
  content: "\e631";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-weizhi:before {
  content: "\e608";
}

.icon-tianjiatupian1:before {
  content: "\e6b9";
}

.icon-tianjiatupian:before {
  content: "\e60c";
}

.icon-comment:before {
  content: "\e607";
}

.icon-iconfontfenxiang:before {
  content: "\e626";
}

.icon-aixin-copy:before {
  content: "\e609";
}